.App {
  text-align: center;
}

.App-header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: calc(10px + 2vmin);
  background-color: #282c34;
}

.App-title {
  margin-top: 0;
  margin-bottom: 1rem;
}

.App-subtitle {
  margin: 0;
}

.App-link {
  color: #61dafb;
}
